<div class="card">
    <div class="card-body">
        <h1>Acerca de Don Bosco</h1>
        <p>
            Somos una Comunidad de Salesianos y laicos que crecemos juntos bajo los principios de San Juan Bosco,  que brindamos espacios de crecimiento espiritual, intelectual y físico (parroquia, educación técnica y profesional, movimiento juvenil salesiano y espacios deportivos) a los niños, niñas, adolecentes, jóvenes y a las familias que habitan en Managua, donde  fomentamos de manera transversal los valores, los derechos humanos y la equidad de género, adoptamos un enfoque basado en competencias, mejora continua y sostenibilidad en los procesos, logrando de esta manera apoyar el desarrollo de nuestros referentes preferenciales como miembros proactivos de la sociedad y de la iglesia católica local.
        </p>
    </div>
</div>