<div class="jumbotron mt-4">
    <h1 class="display-4">Bordados Don Bosco <img class="img" src="img/logo.png"/></h1>
    <p class="lead"> Don Bosco es una consola de administración para suscripciones e inventario de productos.</p>
    <hr class="my-4">
    <p>El sitio Don Bosco te ofrece una solución para el manejo de tus pedidos en tiempo real mediante su sistema de notificaciones por email.
    </p>

    <a href="/users/signin" class="btn btn-primary btn-lg">Ingresar</a>
    <a href="/suscribe" class="btn btn-primary btn-lg">Suscribir</a>
    </div>
</div>