<div class="jumbotron mt-4">
    <h1 class="display-4">Don Bosco Web Console</h1>
    <p class="lead"> Don Bosco Web Console es una consola de administración para suscripciones e inventario de productos.</p>
    <hr class="my-4">
    <p>La plataforma de Don Bosco te ofrece una solución para el manejo de tus pedidos en tiempo real, brindandote una respuesta en 
        tiempo real mediante su sistema de notificaciones por email.
    </p>

    <a href="https://sin-fronteras.uplinkbusiness.com/login" class="btn btn-primary btn-lg">Probar</a>
 
    </div>
</div>