<div class="row">
    <h1>Bienvenido {{user.name}}</h1>

  <div class="card text-center m-2" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">Clientes</h5>
    <p class="card-text">Modulo de clientes</p>
    <a href="#" class="btn btn-primary">Ver</a>
  </div>
</div>

<div class="card text-center m-2" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">Productos</h5>
    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>

<div class="card text-center m-2" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">Ordenes</h5>
    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>
</div>