<div class="jumbotron mt-4">
    <h1 class="display-4">Bordados Don Bosco <img class="img" src="img/logo.png"/></h1>
    <p class="lead"> Don Bosco es una consola de administración para suscripciones e inventario de productos.</p>
    <hr class="my-4">
</div>
<div class="row">
  <div class="card text-center m-2" style="width: 18rem;">
   <a href="/">
    <div class="card-body">
    <h5 class="card-title">Clientes</h5>
    <span style="font-size: 48px; color: Dodgerblue;">
      <i class="fas fa-users"></i>
    </span>
  </div>  
  </a> 
</div>

<div class="card text-center m-2" style="width: 18rem;">
  <a href="/">
    <div class="card-body">
      <h5 class="card-title">Productos</h5>
      <span style="font-size: 48px; color: Dodgerblue;">
          <i class="fas fa-store-alt"></i>
      </span>
    </div>  
  </a>
</div>

<div class="card text-center m-2" style="width: 18rem;">
  <a href="/">
      <div class="card-body">
    <h5 class="card-title">Ordenes</h5>
    <span style="font-size: 48px; color: Dodgerblue;">
      <i class="fas fa-truck"></i>
    </span>
  </div>
  </a>
</div>

</div>